NEXT_PUBLIC_SITE_URL=https://corretoryuri.com.br
NEXT_PUBLIC_CLOUDINARY_CLOUD=dfl3eskr9
NEXT_PUBLIC_CLOUDINARY_PRESET=Yuri-upload
DATABASE_URL=postgresql://...
JWT_SECRET=...
ADMIN_USER=...
ADMIN_PASSWORD=...
